# API key assigned to the discourse bot
DISCOURSE_API_KEY=

# Username of the discourse bot
DISCOURSE_USERNAME=

# Secret set in discourse when the webhook is configured
DISCOURSE_WEBHOOK_SECRET=

# Secret set for Discourse Connect when configured as an identity provider
DISCOURSE_IDENTITY_HOST=talk.codea.io
DISCOURSE_IDENTITY_SECRET=